<main class="main-container">
    <div></div>

    <section>
        <h1>New Event</h1>
        <span>Creator: <strong><%= @event.creator.username %></strong></span>
    </section>

    <div></div>
</main>